/* last Section (Footer) */

Footer {
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83vh;
    border-top: 2px solid#E5E5E5;
}
/* Contact Icons */
.icons {
    width: 40%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.icons span {
    color: #463F3A;
    margin-top: 10px;
}
/* Email and Telephone Number */
.emailcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailcon img {
    transition: 0.6s;
}

.emailcon img:hover {
    filter: brightness(0) invert(.8);
}

/* Footer Content (About etc...) */
.test {
    width: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 300px;
    border-top: 2px solid white;
}

.else {
    width: 70%;
    display: inline-block;
    margin-top: 50px;
}
/* The Right Side of the Footer */
#right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid #CCD0CF;
    height: 450px;
}

.aboutFooter {
    display: inline-block;
}

.aboutFooter h3 {
    color: #CCD0CF;
    margin-bottom: 10px;
    font-size: 1.5rem;
    cursor: default;
}

.aboutFooter p {
    color: gray;
    margin: 4px;
    transition: 0.6s;
}

.aboutFooter a:hover {
    font-weight: bolder;
}
/* Divders */
.btm {
    margin-top: 20px;
}

#btm1 {
    position: relative;
    left: 20px;
}

.left {
    position: relative;
    left: 20px;
}

.msgCon {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
    margin-top: 20px;
}

#msg {
    width: 100%;
}
/* CopyRight */
.copyright {
    position: relative;
    top: 260px;
    color: #CCD0CF;
}