/* Form */
.AdviseSec{
    border: 2px solid wheat;
    display: flex;
}
.adHeader{
    display: inline-block;
    border: 2px solid red;
    width: fit-content;
    margin-top: 50px;
    margin-left: 50px;
    padding: 50px;
    font-size: 1.7rem;
    color: #E5E5E5;
}
.formcon{
    margin-left: 210px;
    margin-top: 200px;
    display: inline-block;
    background-color: #14213D;
    padding: 100px;
    border-radius: 20px;
}
.formdiv1{
    position: relative;
    height: 20px;
}
.formdiv1 input{
    border: none;
    border-bottom: 2px solid;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.formdiv1 label{
    font-size: 11px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-family: poppins;
    pointer-events: none;
}
.formdiv1 input:focus ~ label{
    position: absolute;
    bottom: 90%;
    transition: 0.3s;

}
.formdiv1 input:focus{
    outline: 0;
}