/* File to make the page in Arabic */

/* Importing a font */
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
*{
    font-family: 'Droid Arabic Kufi', serif;
}
/* Language Changing Button */
.LangChange{
    filter: brightness(0) invert(.79);
    transition: 0.3s;
}
/* Nav Content (Home etc..) */
.NavContent li{
    position: relative;
    left: 220px;
}
#NavContentId1 li{
    position: relative;
    left: 135px;
} 
/* Video Header */
.headings_div{
    transform: translate(105%);
}
/* Video Header */
.btn_div {
    width: fit-content;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 18%;
}
.btn {
    border-radius: 100px;
    padding: 15px;
    font-size: 1.4rem;
    color: #e5e7e9;
    background-color: #25374500;
    border: 2px solid #ccd0cf;
    width: 170%;
    transition: width 0.6s;
    background-color: #11212d00;
    cursor: pointer;/
}
/* Button Effect */
.btn:hover {
    width: 240%;
    color: #14213D;
    background-color: #e5e7e9;
    transition: width 0.6s;
}