/* Import a font-Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Decreasing the border */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: #111111;
    height: 300vh;
    transition: 0.3s;
}
/* NavBar including the Background */
/* Background */
.darker{
    background: rgb(17,17,17);
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0.6979166666666667) 10%, rgba(29,31,33,0.7287289915966386) 90%, rgba(17,17,17,1) 100%);
    text-align: center;
    height: 107.6vh;
}
/* Video */
.Nav_Background{
    position: relative;
    bottom: 83px;
    z-index: -9;
}
/* NavBar */
.NavBar{
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 97%;
    justify-content: space-between;
    padding: 20px;
    border-radius: 80px;
    margin-left: 20px;
    background-color: rgba(128, 128, 128, 0);
}
/* Logo */
.logo_div{
    width: fit-content;
}

/* Search Bar */
.search_div, .NavContent{
    width: fit-content;
}
.search_div{
    display: flex;
    position: relative;
    top: 20px;
    right: 0px;
    width: 62%;
}
.searchbar{
    width: 50%;
    height: 50px;
    padding: 20px;
    border-radius: 200px;
    background-color: #454c52;
    opacity: 0.5;
    font-size: 24px;
    color: #CCD0CF;
    border: none;
}
/* Search Bar Effects */
.searchbar:focus, .searchbar:hover{
    width: 80%;
    transition: .6s;
}
/* NavBar Content (SearchBar-Logo-Links) */
.NavContent{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Nav Links */
.NavContent ul{
    display: flex;
    position: relative;
    right: 140px;
    bottom: 41.7px;   
    justify-content: space-around;
    gap: 15%;
    font-size: 1.4rem;
}
.LangChange{
    position: relative;
    top: 11px;
    filter: brightness(0) invert(.79);
    transition: 0.3s;
    height: fit-content;
}
.LangChange:hover{
    filter: brightness(0) invert(.4);
}
.LangChange img{
    width: 60px;
}
/* Nav Links Effects */
.NavContent a{
     background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #e5e7e9 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
}
.NavContent a::before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
.NavContent a:hover {
   background-position: 0;
}
  
.NavContent a:hover::before {
    width:100%;
}
/* Headings */
.header{
    font-size: 6rem;
    color: #E5E5E5;
    animation: slider 1s;
}
.headings_div{
    width: fit-content;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 6%;
}
/* Animation */
@keyframes slider {
    from {
        transform: translateX(-120%);
    }
}
/* Indiviual Headings Editing */
#header0{
    text-align: start;
}
#header1{
    animation: slider 1.2s;
    text-align: start;
}
#header2{
    text-align: start;
    animation: slider 1.4s
}
/* Button */
.btn_div{
    width: fit-content;
    position: absolute;
    top: 690px;
    left: 1500px;
}
.btn{
    border-radius: 100px;
    padding: 15px;
    font-size: 1.4rem;
    color: #e5e7e9;
    background-color: #25374500;
    border: 2px solid #ccd0cf;
    width: 170%;
    transition: width 0.6s;
    background-color: #11212d00;
}
    /* Button Effect */
.btn:hover{
    width: 240%;
    cursor: pointer;
    color: #14213D;
    background-color: #e5e7e9;
    transition: 0.6s;
}