@media screen and (max-width: 768px) {
    .NavContent ul {
      font-size: 1rem;
    }
    
    .headings_div {
      top: 20%;
    }
  
    .btn_div {
      top: 450px; 
    }
  
    .cards_div {
      flex-direction: column; 
      gap: 20px; 
    }
  
    .cards {
      width: 90%;
    }
  
    .contentView {
      padding: 50px; 
    }
  
    .imgBigCon {
      margin-top: 100px; 
    }
  
    footer {
      height: auto; 
    }
  }